{{ define "create" }}
{{ template "header" }}
<main role="main">
    <div class="container">
        <h3>Форма добавления</h1>
        <form action="/save_article" method="post">
            <div class="row mb-1">
                <div class="col-6">
                    <input class="form-control" type="text" name="title" id="title" placeholder="Введите название статьи">
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-6">
                    <textarea class="form-control" name="anons" id="anons" placeholder="Введите анонс статьи"></textarea>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-6">
                    <textarea class="form-control" name="full_text" id="full_text" placeholder="Введите текст статьи"></textarea>
                </div>
            </div>
            <button class="btn btn-warning">Добавить</button>
        </form>
    </div>
</main>
{{ template "footer" }}
{{ end }}