{{ define "index" }}
{{ template "header" }}
<main role="main">
  <div class="album py-5">
    <div class="container">
      <div class="row">
        {{ range . }}
        <div class="col-sm-4">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
              <h5 class="card-title" style="color: black;">{{ .Title }}</h5>
              <p class="card-text" style="color: black;">{{ .Anons }}</p>
              <a href="/post/{{ .Id }}" class="btn btn-primary">Читать далее</a>
            </div>
          </div>
        </div>
      {{ else }}
      <p>Статей нет</p>
      {{ end }}
      </div>
    </div>
  </div>
</main>
{{ template "footer" }}
{{ end }}